
html,body {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("./images/Summer_Trip_2016_pt_1_209.JPG");
    font-family: 'EB Garamond', serif;
    background-color: black;
}

/*---nav bar---*/

/* .topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    width: 100%;
    background-color: rgba(16, 32, 41,.90);
    display: flex;
    justify-content: center;
}
.topbarborder {
    margin: 0 auto;
    margin-top: 0px;
    top: 0;
    margin-top: calc(55px - 1.5px);
    left: 0;
    right: 0;
    height: 1.5px;
    width: 100%;
    background-color:rgba(220,236,245,.22);
}
.topbar a {
    position: relative;
    color: #bad8eb;
    text-transform:uppercase;
    font-family: 'EB Garamond', serif;
    text-decoration:none;
    line-height: 16px;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    padding: 19px 16px 20px 16px;
    border-bottom: 1.5px solid #dcecf5;
} */
/*---Header bar---*/
/* .titlebar {
    position:sticky;
    top: 55;
    width: 80%;
    display: block;
    margin: 50 auto;
    padding: 16px 50px;
    background-color: rgba(16, 32, 41,.75);
} */


.list-group-item, .jumbotron, .card {
    text-decoration:none;
    color: #bad8eb;
    font-family: 'EB Garamond', serif;
    background-color: rgba(16, 32, 41,.75);
}

/* .card{
    color: #bad8eb;
    font-family: 'EB Garamond', serif;
    background-color: rgba(16, 32, 41,.75);
} */
.navbar, .header {
    color: #bad8eb;
    text-transform:uppercase;
    font-family: 'Cormorant Garamond', serif;
    background-color: rgba(16, 32, 41);
}

.header {
    margin: auto;
    width: 25vw;

}

.jumbotron{
    min-height: 40vh;
}

/*---Once and Future main content formatting---*/
/* main {
    margin: 10vh;
    padding: 10vh;
    display: block;
    position: relative;
    width: 80%;
    margin: 100 auto;
    background-color: rgba(16, 32, 41,.75);
    
} */
/* 
.nav2 {
    margin: 50 auto;
    padding: 30px;
    display: flex;
    position: relative;
    width: 80%;
    background-color: rgba(16, 32, 41,.75);
    justify-content: center;
    
}
.nav2 a {
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    text-decoration:none;
    line-height: 16px;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 20px 16px 20px 16px;
    text-align: center;
    color: #bad8eb;
} */ 
/*  Working on a modal thingy!
.nav2 button {
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    text-decoration:none;
    border: none;
    line-height: 16px;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 16px 20px 16px;
    background-color: rgba(16, 32, 41,.75);
    color: #bad8eb;
}

.modal {
    padding: 50px;
    display: none; 
    position: relative; 
    margin: 100 auto;
    z-index: 1; 
    width: 80%; 
    overflow: auto; 
    background-color: rgba(16, 32, 41,.75);
  }
  
.modal-content {
    border: 1px solid #bad8eb;
  }
  
.close {
    color: #bad8eb;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
  } 

*/
/*---text formatting---*/

/* p {
    color: #bad8eb;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}
h1 {
    font-family: 'Amita', cursive;
    color: #bad8eb;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    color: #bad8eb;
 }
      
    
li a {
    display: block;
    color: #bad8eb;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
      } */

